# Часть 1

In [9]:
import numpy as np
import pandas as pd

In [10]:
#Функция плотности
def f_dens(x, alpha):
    return (2*alpha + 1)*(x**(2*alpha))

In [11]:
#Аналитически найденное 
def get_mle_for_alpha(X):
    n = len(X)
    return (n/(-sum(np.log(X)))-1)*0.5

In [12]:
#load data
data = pd.read_csv('data/r3z1.csv')
data.head(3)

          X
0  0.962632
1  0.953152
2  0.827986

In [13]:
X_samp = data.values
alpha_mle = get_mle_for_alpha(X_samp)

In [14]:
alpha_mle

array([5.93358945])

# Part 2

In [38]:
#load data
data2 = pd.read_csv('data/r3z2.csv')
data2.head(3)

       X
0   97.8
1   90.0
2  108.8

![all text](int.png)

In [39]:
# размер выборки 
n1 = len(data2)
n1

61

In [40]:
manual_mean = data2['X'].to_numpy().sum()/data2['X'].count()

In [41]:
#смещенная дисперсия
dataset_2 = data2
dataset_2["X-D"] = (dataset_2["X"] - manual_mean)**2
var_manual = dataset_2["X-D"].to_numpy().sum()/dataset_2["X-D"].count()
var_manual

43.87105616769686

In [42]:
from scipy.stats.distributions import chi2

def get_higher_estimate(n, disp, alpha = 0.05):
    chi = chi2.ppf(alpha, df=n-1)
    return (n*disp)/chi

def get_lower_estimate(n, disp, alpha = 0.05):
    chi = chi2.ppf(1-alpha, df=n-1)
    return (n*disp)/chi

In [43]:
print(get_lower_estimate(n1, var_manual), get_higher_estimate(n1, var_manual))

33.84001801625789 61.96482820739315

In [37]:
import math

print(get_lower_estimate(n1, math.sqrt(var_manual)), get_higher_estimate(n1, math.sqrt(var_manual)))

5.109066324801702 9.35526739271882